.root{
    --color-primary: rgba(50, 160, 65, 1);
    --color-branco: rgba(255, 255, 255, 1);
    --fundo-claro: #f5f5f5;
    --cfundo-neutro: #ccc;
    --texto: #333;
    --texto-preto: black;

    --spacing-pequeno: 10px;
    --spacing-medio: 15px;
    --spacing-grande: 20px;
}